<ion-header>

  <ion-navbar class="nav-bg">
    <ion-title color="color">Edit Profile</ion-title>
    <!--   {{ 'ITEM_CREATE_TITLE' | translate }} -->
    <ion-buttons end>
      <button ion-button (click)="updateuser()" strong color="white">
        <span >
          {{ 'SAVE_BUTTON' | translate }}
        </span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="userdata" #formCtrl="ngForm">
    <input type="file" #fileInput style="visibility: hidden; height: 0px ; display: none;" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <!-- <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
      </div> -->
      <img *ngIf="userdata.newimage==''" class="profile-image-placeholder" src="{{userdata.image}}" onerror="this.src='assets/img/default-user-avatars.png'"/>
      <img *ngIf="userdata.newimage!=''" class="profile-image-placeholder" src="{{userdata.userimage}}" onerror="this.src='assets/img/default-user-avatars.png'" />
      <input type="file" id="userimage" name="userimage" style="display: none" (change)="processWebImage($event)"/>
      <!-- <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.userdata.newimage!=''"></div> -->
      <label for="userimage"><div class="chnage-note"> Change profile Photo</div></label>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" name="username" [(ngModel)]="userdata.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" name="user_slug" [(ngModel)]="userdata.user_slug"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Birth Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" name="dob" [(ngModel)]="userdata.dob"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label class="small-text">Email address</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="userdata.email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select name="country_id" [(ngModel)]="userdata.country_id">
          <ion-option *ngFor="let con of country" value="{{con.id}}">{{con.cname}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select name="gender" [(ngModel)]="userdata.gender">
          <ion-option value="not spacified" >Not Spacified</ion-option>
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="textarea">
        <ion-label>Bio</ion-label>
        <ion-textarea type="text" name="about_me" color="dark" [(ngModel)]="userdata.about_me"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>