page-profile {
  video{
    width: 100%;
    // max-height: 370px;
    max-height: -webkit-fill-available;
  }
  .nav-bg {
    @include linear-gradient;
    .toolbar-background-ios {
        background: transparent
    }
    .toolbar-background-md {
        @extend .toolbar-background-ios ;
    } 
  }
  .bar-button-default-ios {
    color: $white;
    .back-button-text {
      display: none;
    }
  }
  .content-md {
      background-color: $body-bg;
  }
  .content-ios {
      background-color: $body-bg;
  }
  .card-ios {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      border-radius: 0px;   
      @include box-shadow(0 2px , 6px , -2px , rgba(0, 0, 0, 0.1));
  }
  .card-md {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      width: 100%;
      border-radius: 0px;
      @include box-shadow(0 2px , 6px , -2px , rgba(0, 0, 0, 0.1));
  }
  .post-title {
      ion-label {
          @include flexbox();
          @include align-items(center);
          @include justify-content(space-between);
      }
  } 
  .profile-top {
    @include align-items(center);
    @include flexbox();
    padding: 20px 15px;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.1);

    .profile-img {
      width: 30%;
      height: 105px;
      border-radius: 10px;
      @include box-shadow(0px,0px,5px,rgba(0,0,0,0.2));
      
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .profile-name {
      width: 70%;
      padding-left: 25px;
      
      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 22px;
      }
      .user-status {
        display: block;
        color: $light-dark;
        font-size: 12px;
        margin-bottom: 10px; 
      }
    }
  }
  /* .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  } */
  .segment-md {
    // background-color: $white;
    .segment-button {
      height: 4.2rem;
      color: $dark;
      font-size: 14px;
      border-radius: 0px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      &.segment-activated {
        border-bottom-color: rgba(0, 0, 0, 0.1);
        background-color: transparent;
        color: $blue-color;
      }
    }
  }
  .segment-ios {
    @extend .segment-md ;
    .segment-button {
      border: none;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      
      &:last-of-type {
        border-radius: 0px;
      }
      &:first-of-type {
        border-radius: 0px;
      }
    }
  }
  ion-footer {
        background-color: $white;
        @include box-shadow(0px, -1px, 10px, rgba(0,0,0,0.15));

        .toolbar-ios {
            padding-left: 15px;
            padding-right: 15px;
        }
        .toolbar-md {
            @extend .toolbar-ios ;
        }
        ion-toolbar {
            &.toolbar-md{
                min-height: 45px;
            }
            ion-buttons {
                height: 4.2rem;
                border: none;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
    
                &.segment-activated {
                    opacity: 1;
                    background-color: transparent;
                }
                ion-icon {
                    img {
                        border-radius: 100%;
                        width: 25px;
                    }
                }
                
                &.add-btn {
                    opacity: 1;
                    ion-icon {
                        line-height: 18px;
                        img {
                            width: 35px;
                        }
                    }
                }    
            }   
        } 
    }
}
