<ion-header no-shadow no-border>
    <ion-navbar class="nav-bg">
        <ion-buttons left>
            <button ion-button menuToggle icon-only color="white">
                <ion-icon name='menu'></ion-icon>
            </button>
        </ion-buttons>
        <ion-title center>
            Home
        </ion-title>
        <ion-buttons end class="noti-btn">
            <button ion-button icon-only color="white" (click)="gotoNotification()">
                <ion-icon name="notifications"></ion-icon>
            </button>
            <span *ngIf="notification" class="noti_count">{{notification}}</span>
        </ion-buttons>
    </ion-navbar>
    <ion-segment [(ngModel)]="tabs" (ionChange)="changed(tabs)">
        <ion-segment-button value="letest">
            Letest
        </ion-segment-button>
        <ion-segment-button value="hot">
            Hot
        </ion-segment-button>
        <ion-segment-button value="trading">
            Trading
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div [ngSwitch]="tabs">
    <ion-list *ngSwitchCase="'letest'">
        <ion-card *ngFor="let item1 of Ldata">
            <ion-item class="post-title">
                <h2 (click)="post(item1)">{{item1.title}}</h2>

                <button ion-button clear icon-only end color="dark" (click)="postreport(item1)">
                    <ion-icon name="more"></ion-icon>
                </button>
            </ion-item>
            <img *ngIf="item1.type=='image'" [src]="item1.media" (load)="item1.loaded = true" [hidden]="!item1.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item1)" [alt]="item1.title" />
            <img *ngIf="item1.type=='image'" [src]="item1.media_thumb" [hidden]="item1.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item1)" [alt]="item1.title">

            <video *ngIf="item1.type=='video'" controls muted class="visible-video" [poster]="item1.media_thumb">
                <source [src]="item1.media" type="video/mp4">
            </video>

            <p *ngIf="item1.type=='editor'" [innerHtml]="item1.display_text"></p>

            <ion-row>
                <ion-col>
                    <button ion-button (click)="postlike(item1)" [color]="item1.is_like==true?'liked':'light-dark'" clear small icon-start>
                        <ion-icon name='thumbs-up'></ion-icon>
                        {{item1.like_count}} Likes
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="light-dark" clear small icon-start (click)="post(item1)">
                        <ion-icon name='text'></ion-icon>
                        {{item1.total_comment}} Comments
                    </button>
                </ion-col>

                <ion-col text-right>
                    <button ion-button clear small color="light-dark" icon-start (click)="share(item1)">
                        <ion-icon name='share-alt'></ion-icon>
                        Share
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite('letest'))">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
    
    <ion-list *ngSwitchCase="'hot'">
        <ion-card *ngFor="let item2 of Hdata">

            <ion-item class="post-title">
                <h2 (click)="post(item2)">{{item2.title}}</h2>

                <button ion-button clear icon-only end color="dark" (click)="postreport(item2)">
                    <ion-icon name="more"></ion-icon>
                </button>
            </ion-item>

            <img *ngIf="item2.type=='image'" [src]="item2.media" (load)="item2.loaded = true" [hidden]="!item2.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item2)" [alt]="item2.title" />
            <img *ngIf="item2.type=='image'" [src]="item2.media_thumb" [hidden]="item2.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item2)" [alt]="item2.title">
            
            <video *ngIf="item2.type=='video'" class="visible-video" controls muted [poster]="item2.media_thumb">
                <source [src]="item2.media" type="video/mp4">
            </video>
            
            <p *ngIf="item2.type=='editor'" [innerHtml]="item2.display_text"></p>

            <ion-row>
                <ion-col>
                    <button ion-button (click)="postlike(item2)" [color]="item2.is_like==true?'liked':'light-dark'" clear small icon-start>
                        <ion-icon name='thumbs-up'></ion-icon>
                        {{item2.like_count}} Likes
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="light-dark" clear small icon-start (click)="post(item2)">
                        <ion-icon name='text'></ion-icon>
                        {{item2.total_comment}} Comments
                    </button>
                </ion-col>

                <ion-col text-right>
                    <button ion-button clear small color="light-dark" icon-start (click)="share(item2)">
                        <ion-icon name='share-alt'></ion-icon>
                        Share
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite('hot'))">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'trading'">
        <ion-card *ngFor="let item3 of Tdata">

            <ion-item class="post-title">
                <h2 (click)="post(item3)">{{item3.title}}</h2>

                <button ion-button clear icon-only end color="dark" (click)="postreport(item3)">
                    <ion-icon name="more"></ion-icon>
                </button>
            </ion-item>

            <img *ngIf="item3.type=='image'" [src]="item3.media" (load)="item3.loaded = true" [hidden]="!item3.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item3)" [alt]="item3.title" />
            <img *ngIf="item3.type=='image'" [src]="item3.media_thumb" [hidden]="item3.loaded" onerror="this.src='assets/img/blur.jpg'"
                (click)="post(item3)" [alt]="item3.title">
            
            <video *ngIf="item3.type=='video'" class="visible-video" controls muted [poster]="item3.media_thumb">
                <source [src]="item3.media" type="video/mp4">
            </video>
            
            <p *ngIf="item3.type=='editor'" [innerHtml]="item3.display_text"></p>

            <ion-row>
                <ion-col>
                    <button ion-button (click)="postlike(item3)" [color]="item3.is_like==true?'liked':'light-dark'" clear small icon-start>
                        <ion-icon name='thumbs-up'></ion-icon>
                        {{item3.like_count}} Likes
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button color="light-dark" clear small icon-start (click)="post(item3)">
                        <ion-icon name='text'></ion-icon>
                        {{item3.total_comment}} Comments
                    </button>
                </ion-col>

                <ion-col text-right>
                    <button ion-button clear small color="light-dark" icon-start (click)="share(item3)">
                        <ion-icon name='share-alt'></ion-icon>
                        Share
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite('trading'))">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText=""></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
</div>
</ion-content>

<ion-footer no-border text-center>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only clear color="dark" (click)="gotoHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons class="add-btn">
            <button *ngIf="login" ion-button icon-only clear color="dark" (click)="addPost()">
                <ion-icon>
                    <img src="assets/img/add.svg" />
                </ion-icon>
            </button>
            <button *ngIf="!login" ion-button icon-only clear color="dark" (click)="gotoLogin()">
                <ion-icon>
                    <img src="assets/img/add.svg" />
                </ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button *ngIf="login" ion-button icon-only clear color="dark" (click)="gotoProfile()">
                <ion-icon name="contact"></ion-icon>
            </button>
            <button *ngIf="!login" ion-button icon-only clear color="dark" (click)="gotoLogin()">
                <ion-icon name="log-in"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>