page-caregory {
    video{
        width: 100%;
        // max-height: 370px;
        max-height: -webkit-fill-available;
    }
    // ion-slide {
    //     &.swiper-slide {
    //         @include align-items(flex-start);
    //         overflow: auto;
    //     }
    // }
    .slide-zoom {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .swiper-wrapper {
        height: 100%;
    }
    .nav-bg {
        @include linear-gradient;
        .toolbar-background-ios {
            background: transparent
        }
        .toolbar-background-md {
            @extend .toolbar-background-ios ;
        } 
    }
    
    .content-md {
        background-color: $body-bg;
    }
    .content-ios {
        background-color: $body-bg;
    }
    .card-ios {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        border-radius: 0px;   
        @include box-shadow(0 2px , 6px , -2px , rgba(0, 0, 0, 0.1));
    }
    .card-md {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        border-radius: 0px;
        @include box-shadow(0 2px , 6px , -2px , rgba(0, 0, 0, 0.1));
    }
    .post-title {
        ion-label {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
        }
    }
    .tabs-ios {
        .tab-button{
            border-bottom: solid 2px transparent;
            &[aria-selected=true] {
                color: $white;
                border-bottom: solid 2px $white;
            }
        }
        .enable-hover {
            a {
                opacity: 1;
            }
        }
        &[tabsPlacement=top] {
            .tabbar {
                border-bottom: none;
            }
        }
    }
    .tabs-md {
        @extend .tabs-ios ;
    }
    ion-segment {
        @include linear-gradient();
    }
    .segment-md {
         .segment-button {
            height: 4.2rem;
            color: $white;
            font-size: 14px;
            border-radius: 0px;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);

            &.segment-activated {
                border-bottom-color: $white;
                background-color: transparent;
            }
         }
    }
    .segment-ios {
        @extend .segment-md ;
        .segment-button {
            border: none;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            
            &:last-of-type {
                border-radius: 0px;
            }
            &:first-of-type {
                border-radius: 0px;
            }
        }
    }
    ion-footer {
        background-color: $white;
        @include box-shadow(0px, -1px, 10px, rgba(0,0,0,0.15));

        .toolbar-ios {
            padding-left: 15px;
            padding-right: 15px;
        }
        .toolbar-md {
            @extend .toolbar-ios ;
        }
        ion-toolbar {
            &.toolbar-md{
                min-height: 45px;
            }
            ion-buttons {
                height: 4.2rem;
                border: none;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
    
                &.segment-activated {
                    opacity: 1;
                    background-color: transparent;
                }
                ion-icon {
                    img {
                        width: 30px;
                    }
                }
    
                &.add-btn {
                    opacity: 1;
                    ion-icon {
                        line-height: 18px;
                    }
                }   
            }   
        } 
    }
    .action-sheet-button {
        .button-inner {
            @include justify-content(flex-start);
        }
    }
    .more-btn {
        font-size: 1.7rem !important;
        margin-right: -2px !important;
    }
    .post-title {
        box-shadow: 0 0 0px 2px #EEE;
    }
}
