page-letest {
    .tag-list {
        @include flexbox();
        @include align-items(center);
        margin-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 5px;
        overflow: auto;

        .chip {
            margin: 0px 3px;
        }
        .chip-ios {
            height: 28px;
            line-height: 28px;
            background-color: #d2dbe7;
            @include box-shadow(0px , 1px , 1px , rgba(0,0,0,0.2));
        }
        .chip-md {
            @extend .chip-ios ;
        }
    }
    ion-footer {
        background-color: $white;
        @include box-shadow(0px, -1px, 10px, rgba(0,0,0,0.15));

        .toolbar-ios {
            padding-left: 15px;
            padding-right: 15px;
        }
        .toolbar-md {
            @extend .toolbar-ios ;
        }
        ion-toolbar {
            &.toolbar-md{
                min-height: 45px;
            }
            ion-buttons {
                height: 4.2rem;
                border: none;
                opacity: 0.3;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
    
                &.segment-activated {
                    opacity: 1;
                    background-color: transparent;
                }
                ion-icon {
                    img {
                        width: 30px;
                    }
                }
    
                &.add-btn {
                    opacity: 1;
                    ion-icon {
                        line-height: 18px;
                    }
                }
            }
            
        } 
    }
}
