page-settings {
    .nav-bg {
        @include linear-gradient;
        .toolbar-background-ios {
            background: transparent
        }
        .toolbar-background-md {
            @extend .toolbar-background-ios ;
        } 
    }
    .bar-button-default-ios {
        color: $white;
    }
    ion-list-header {
        &.item-md {
            background-color: $light;
            margin-bottom: 0px;
            border-bottom: 1px solid #dedede;
            min-height: auto;
            ion-label {
                color: $dark;
                font-size: 16px;
            }
        }
        &.item-ios {
            @extend .item-md ;
        }
    }
    .list-md {
        .item-block {
            .item-inner {
                margin-left: 10px;
            }
        }
        .icon-md {
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    .list-ios {
        margin-bottom: 10px;
        .icon-ios {
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    
}
