<ion-header>
  <ion-navbar class="nav-bg">
    <ion-title>Post</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="item">
    <ion-item class="post-title">
      <h2>{{item.title}}</h2>
      <button ion-button clear icon-only end color="dark" (click)="report()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <img *ngIf="item.type=='image'" [src]="item.media" (load)="item.loaded = true" [hidden]="!item.loaded" onerror="this.src='assets/img/blur.jpg'"
      (click)="post(item)" [alt]="item.title" />
    <img *ngIf="item.type=='image'" [src]="item.media_thumb" [hidden]="item.loaded" onerror="this.src='assets/img/blur.jpg'"
      (click)="post(item)" [alt]="item.title">
    
    <video *ngIf="item.type=='video'" width="100%" controls muted [poster]="item.media_thumb">
      <source [src]="item.media" type="video/mp4">
    </video>
    
    <p *ngIf="item.type=='editor'" [innerHtml]="item.display_text"></p>
    <ion-row>
      <ion-col>
        <button ion-button [color]="item.is_like==true?'blue-color':'light-dark'" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
           {{item.like_count}} Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="light-dark" clear small icon-start>
          <ion-icon name='text'></ion-icon>
           {{item.total_comment}} Comments
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="light-dark" icon-start (click)="share()">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list class="comm-list">
    <ion-list-header>
      Comments
    </ion-list-header>
  
    
    <ion-item *ngIf="item">
      <div class="comm-item" *ngFor="let comment of item.comments">
        <div class="comm-head">
          <div class="comm-avtar">
            <img [src]="comment.userimage" onerror="this.src='assets/img/blur.jpg'" />
          </div>
          <div class="comm-title">
            <h2>{{comment.username}}</h2>
            <span>{{comment.insert_date}}</span>
          </div>

          <button ion-button clear icon-only end color="dark" (click)="report()">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <div class="comm-body">
          <p *ngIf="comment.comment">{{comment.comment}}</p>  
          <p *ngIf="comment.meme_comment">{{comment.meme_comment}}</p>  
          <img *ngIf="comment.image" [src]="comment.image" onerror="this.src='assets/img/blur.jpg'" />
        </div>
        <div class="comm-foot">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <ion-icon name='thumbs-up'></ion-icon> {{comment.comment_like_count}}
              </a>
            </li>

            <li>
              <a href="#">
                <ion-icon ios="ios-undo" md="md-undo"></ion-icon> Replay
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="comm-item">
        <div class="comm-head">
          <div class="comm-avtar">
            <img src="assets/img/advance-card-bttf.png">
          </div>
          <div class="comm-title">
            <h2>Finn</h2>
            <span>2h</span>
          </div>
      
          <button ion-button clear icon-only end color="dark" (click)="report()">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <div class="comm-body">
          <p>Listen, I've had a pretty messed up day...</p>
        </div>
        <div class="comm-foot">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <ion-icon name='thumbs-up'></ion-icon> 12
              </a>
            </li>
      
            <li>
              <a href="#">
                <ion-icon ios="ios-undo" md="md-undo"></ion-icon> Replay
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="comm-item">
        <div class="comm-head">
          <div class="comm-avtar">
            <img src="assets/img/advance-card-bttf.png">
          </div>
          <div class="comm-title">
            <h2>Finn</h2>
            <span>2h</span>
          </div>
      
          <button ion-button clear icon-only end color="dark" (click)="report()">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <div class="comm-body">
          <p>Listen, I've had a pretty messed up day...</p>
        </div>
        <div class="comm-foot">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <ion-icon name='thumbs-up'></ion-icon> 12
              </a>
            </li>
      
            <li>
              <a href="#">
                <ion-icon ios="ios-undo" md="md-undo"></ion-icon> Replay
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="comm-item">
        <div class="comm-head">
          <div class="comm-avtar">
            <img src="assets/img/advance-card-bttf.png">
          </div>
          <div class="comm-title">
            <h2>Finn</h2>
            <span>2h</span>
          </div>
      
          <button ion-button clear icon-only end color="dark" (click)="report()">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <div class="comm-body">
          <p>Listen, I've had a pretty messed up day...</p>
        </div>
        <div class="comm-foot">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <ion-icon name='thumbs-up'></ion-icon> 12
              </a>
            </li>
      
            <li>
              <a href="#">
                <ion-icon ios="ios-undo" md="md-undo"></ion-icon> Replay
              </a>
            </li>
          </ul>
        </div>
      </div> -->

    </ion-item>
    
  </ion-list>
</ion-content>
  <ion-footer class="comm-box">
    <ion-input type="text" placeholder="Write comment..."></ion-input>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-footer>