<ion-header>
  <ion-navbar class="nav-bg">
    <ion-title>Post</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="post">
    <ion-item class="post-title">
      <h2>{{post.title}}</h2>
      <button ion-button clear icon-only end color="dark" (click)="postreport(post)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <img *ngIf="post.type=='image'" [src]="post.media" (load)="post.loaded = true" [hidden]="!post.loaded" onerror="this.src='assets/img/blur.jpg'"
      (click)="post(post)" [alt]="post.title" />
    <img *ngIf="post.type=='image'" [src]="post.media_thumb" [hidden]="post.loaded" onerror="this.src='assets/img/blur.jpg'"
      (click)="post(post)" [alt]="post.title">
    
    <video *ngIf="post.type=='video'" width="100%" controls muted [poster]="post.media_thumb">
      <source [src]="post.media" type="video/mp4">
    </video>
    
    <p *ngIf="post.type=='editor'" [innerHtml]="post.display_text"></p>
    <ion-row>
      <ion-col>
        <button ion-button (click)="postlike(post)" [color]="post.is_like==true?'liked':'light-dark'" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
           {{post.like_count}} Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="light-dark" clear small icon-start>
          <ion-icon name='text'></ion-icon>
           {{post.total_comment}} Comments
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="light-dark" icon-start (click)="share(post)">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list class="comm-list">
    <ion-list-header>
      Comments
    </ion-list-header>
  
    
    <ion-item *ngIf="item">
      <div class="comm-item" *ngFor="let comment of item.comments">
        <div class="comm-item-child main-comment" *ngIf="!comment.is_reported">
          <div class="comm-head">
            <div class="comm-avtar">
              <img [src]="comment.userimage" onerror="this.src='assets/img/blur.jpg'" />
            </div>
            <div class="comm-title">
              <h2>{{comment.username}}</h2>
              <span>{{comment.insert_date}}</span>
            </div>

            <button ion-button clear icon-only end color="dark" (click)="report_or_delete(comment,'parent')">
              <ion-icon name="more"></ion-icon>
            </button>
          </div>
          <div class="comm-body">
            <p *ngIf="comment.comment">{{comment.comment}}</p>  
            <p *ngIf="comment.meme_comment">{{comment.meme_comment}}</p>  
            <img *ngIf="comment.image" [src]="comment.image" onerror="this.src='assets/img/blur.jpg'" />
          </div>
          <div class="comm-foot">
            <ul class="list-unstyled">
              <li>
                <a href="javascript:void(0)" (click)="commentlike(comment)">
                  <ion-icon name='thumbs-up' [color]="comment.comment_like==true?'liked':'light-dark'"></ion-icon> {{comment.comment_like_count}}
                </a>
              </li>

              <li>
                <a href="javascript:void(0)">
                  <ion-icon ios="ios-undo" md="md-undo" (click)="replay_cumment(comment)"></ion-icon> Replay
                </a>
              </li>
              <li *ngIf="comment.sub_comment_count>0" (click)="loadsubcomment(comment)">
                <a href="javascript:void(0)">
                  <ion-icon ios="ios-undo" md="md-undo"></ion-icon> View {{comment.sub_comment_count}} replies
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="comm-item-child replie-comment" *ngFor="let subs of comment.subs">
          <div class="comm-item-child_replie" *ngIf="!subs.is_reported">
            <div class="comm-head">
              <div class="comm-avtar">
                <img [src]="subs.userimage" onerror="this.src='assets/img/blur.jpg'">
              </div>
              <div class="comm-title">
                <h2>{{subs.username}}</h2>
                <span>{{subs.insert_date}}</span>
              </div>
            
              <button ion-button clear icon-only end color="dark" (click)="report_or_delete(subs,comment.subs)">
                <ion-icon name="more"></ion-icon>
              </button>
            </div>
            <div class="comm-body">
              <p *ngIf="subs.comment">{{subs.comment}}</p>
              <img *ngIf="subs.meme_comment" [src]="subs.meme_comment" onerror="this.src='assets/img/blur.jpg'" />
              <img *ngIf="subs.image" [src]="subs.image" onerror="this.src='assets/img/blur.jpg'" />
            </div>
            <div class="comm-foot">
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:void(0)" (click)="commentlike(subs)">
                    <ion-icon name='thumbs-up' [color]="subs.comment_like==true?'liked':'light-dark'"></ion-icon> {{subs.comment_like_count}}
                  </a>
                </li>
            
                <li>
                  <a href="javascript:void(0)">
                    <ion-icon ios="ios-undo" md="md-undo"></ion-icon> Replay
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="load-more" *ngIf="comment.is_more_comment">
          <button ion-button color="light-dark"  (click)="loadmoresubcomment(comment)">Load More replies</button>
        </div>
      </div>
      <div class="load-more" *ngIf="is_more_comment">
        <button ion-button color="primary" (click)="loadmorecomment(item)">Load More comments</button>
      </div>
    </ion-item>
    
  </ion-list>
</ion-content>
  <ion-footer class="comm-box">
    <ion-input type="text" placeholder="Write comment..."></ion-input>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-footer>