page-change-password {
    .nav-bg {
        @include linear-gradient;
        .toolbar-background-ios {
            background: transparent
        }
        .toolbar-background-md {
            @extend .toolbar-background-ios ;
        } 
    }
    .bar-button-default-ios {
        color: $white;
    }
    ion-list-header {
        &.item-md {
            background-color: $light;
            margin-bottom: 0px;
            border-bottom: 1px solid #dedede;
            min-height: auto;
            ion-label {
                color: $dark;
                font-size: 16px;
            }
        }
        &.item-ios {
            @extend .item-md ;
        }
    }
    .item-md {
        padding-left: 15px;
        padding-right: 15px;
    }
    .item-ios {
        padding-left: 15px;
        padding-right: 15px;

        .text-input-ios {
            padding-left: 10px;
        }
    }
    .list-md {
        margin-bottom: 0px;
    }
    .list-ios {
        margin-bottom: 0px;
    }
}
