<ion-header>

  <ion-navbar class="nav-bg">
    <ion-title class="white">{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="addPosttags()" color="white">
        <span>NEXT</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <label for="postimage" *ngIf="post.dis_image==''">
    <div class="video-heading">
      <img src="assets/img/Upload_graphic.svg" />
      <h5>Click here to select your post image</h5>
    </div>
  </label>
  <label for="postimage" *ngIf="post.dis_image!=''">
    <div class="video-heading">
      <img *ngIf="post.dis_image!=''" class="profile-image" src="{{post.dis_image}}" onerror="this.src='assets/img/default-user-avatars.png'" />
    </div>
  </label>
  <input type="file" id="postimage" name="postimage" style="display: none" (change)="processWebImage($event)" />
  <ion-list>
    <ion-item class="add-title">
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" name="title" required [(ngModel)]="post.title" placeholder="Discribe your post..."></ion-input>
    </ion-item>
  </ion-list>
</ion-content>