page-search {
    .nav-bg {
        @include linear-gradient;
        .toolbar-background-ios {
            background: transparent
        }
        .toolbar-background-md {
            @extend .toolbar-background-ios ;
        } 
    }
    .search-box {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include linear-gradient();
    }
    .searchbar-md {
        @extend .searchbar-ios ;
        background: none;
    }
    .searchbar-ios {
        background: none;
    }
}
